[Unit]
Description=rTorrent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
KillMode=process
#User=rtorrent
#PIDFile=/var/run/rtorrent.pid
ExecStartPre=/bin/bash -c "if test -e /data/rtorrent/session/rtorrent.lock && test -z pidof rtorrent; then rm -f /data/rtorrent/session/rtorrent.lock; fi"
ExecStart=/usr/local/bin/rtorrent -n -o import=/etc/rtorrent.rc,system.daemon.set=true
#WorkingDirectory=%h
Restart=on-failure

[Install]
WantedBy=multi-user.target

